subscription_id        = "00000000-0000-0000-0000-000000000000"
name_prefix            = "replace123"
environment            = "prod"
location               = "westeurope"
vendor_base_url        = "https://BatB.azure-api.net"
alert_email            = "operations@example.invalid"
always_ready_instances = 1
enable_trigger         = false
tags                   = { owner = "integration-team" }
